@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,600;1,100;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.brand-logo img {
    width: 100px;
}

a {
    text-decoration: none;
    transition: 0.2s;
    color: #ec0909;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* *******************
* Search Bar Style
**********************/

.input-form {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 30px;
}

.input-form .input-field {
    height: 48px;
}

.input-form .input-field input {
    height: 100%;
    background: transparent;
    border: 0;
    display: block;
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #000;
}

.input-form .input-field input.placeholder {
    color: #222;
    font-size: 16px;
}

.input-form .input-field input:-moz-placeholder {
    color: #222;
    font-size: 16px;
}

.input-form .input-field input::-webkit-input-placeholder {
    color: #222;
    font-size: 16px;
}

.input-form .input-field input:hover,
.input-form .input-field input:focus {
    box-shadow: none;
    outline: 0;
}

.input-form .input-field.search-field {
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    background: #f1f1f1;
}

.input-form .input-field.search-field input {
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.search-icon {
    padding-left: 10px;
}

.input-form .input-field.search-field {
    min-width: 80px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

.input-form .input-field.second-wrap {
    min-width: 130px;
}

@media screen and (max-width: 767px) {
    .input-form .input-field.second-wrap {
        min-width: 100px;
    }
}

.input-form .input-field.second-wrap .btn-search {
    height: 100%;
    width: 100%;
    white-space: nowrap;
    font-size: 16px;
    color: #fff;
    border: 0;
    cursor: pointer;
    position: relative;
    z-index: 0;
    background: #f70324;
    transition: all 0.2s ease-out, color 0.2s ease-out;
    font-weight: 300;
}

.input-form .input-field.second-wrap .btn-search:hover {
    background: #ec1b03;
}

.input-form .input-field.second-wrap .btn-search:focus {
    outline: 0;
    box-shadow: none;
}

ul li {
    padding: 5px 0;
}

.icon-check {
    color: #e74c3c;
    margin-right: 5px;
}

footer {
    padding: 50px 30px;
    text-align: center;
}

#danger {
    display: none;
}

.meal-title {
    border-radius: 20px;
}

.meal-img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}